[Unit]
Description=Start binfmt-support from Docker torizon/binfmt
Requires=docker.service
After=docker.service
Wants=docker.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/docker-binfmt

[Install]
WantedBy=multi-user.target
