[Unit]
Description=Aktualizr SOTA Client
After=network-online.target nss-lookup.target boot-complete.target
Requires=boot-complete.target
Wants=network-online.target
ConditionPathExists=|/var/sota/import/gateway.url
ConditionPathExists=|/var/sota/import/director/root.json

[Service]
RestartSec=10
Restart=always
Environment="DOCKER_CONFIG=/etc/docker"
Environment="AKTUALIZR_DATAPROXY_PARAMETERS=--enable-data-proxy"
ExecStart=/usr/bin/aktualizr-torizon $AKTUALIZR_CMDLINE_PARAMETERS $AKTUALIZR_DATAPROXY_PARAMETERS

[Install]
WantedBy=multi-user.target
Alias=aktualizr.service
