# Configuration file for fw_(printenv/setenv) utility.
# Up to two entries are valid, in this case the redundant
# environment sector is assumed present.
# Device offset must be prefixed with 0x to be parsed as a hexadecimal value.
# On a block device a negative offset is treated as a backwards offset from the
# end of the device/partition, rather than a forwards offset from the start.

# Uboot env filename	Device offset	Env. size
/mnt/boot/uboot.env     0x0000          0x10000
