ACTION=="add", ATTRS{name}=="30a50000.i2c", SYMLINK+="colibri-i2c1"
ACTION=="add", ATTRS{name}=="30a30000.i2c", SYMLINK+="colibri-i2c2"
ACTION=="add", ATTRS{name}=="30a40000.i2c", SYMLINK+="colibri-i2c3"
ACTION=="add", ATTRS{name}=="30a20000.i2c", SYMLINK+="colibri-i2c4"
ACTION=="add", ATTRS{iomem_base}=="0x30860000", SYMLINK+="colibri-ttya"
ACTION=="add", ATTRS{iomem_base}=="0x30890000", SYMLINK+="colibri-ttyb"
ACTION=="add", ATTRS{iomem_base}=="0x30880000", SYMLINK+="colibri-ttyc"
ACTION=="add", ATTRS{iomem_base}=="0x30A70000", SYMLINK+="colibri-ttyd"
ACTION=="add", ATTRS{iomem_base}=="0x30A60000", SYMLINK+="colibri-ttye"
ACTION=="add", ATTRS{iomem_base}=="0x30A80000", SYMLINK+="colibri-ttyf"
ACTION=="add", ATTRS{iomem_base}=="0x30A90000", SYMLINK+="colibri-ttyg"
ACTION=="add", KERNEL=="watchdog", DRIVERS=="rn5t618-wdt", SYMLINK+="colibri-watchdog"
