[Unit]
Description=Aktualizr SOTA Client
After=network.target

[Service]
RestartSec=180
Restart=always
ExecStart=/usr/bin/aktualizr $AKTUALIZR_CMDLINE_PARAMETERS
EnvironmentFile=/usr/lib/sota/sota.env

[Install]
WantedBy=multi-user.target
