[Unit]
Description=Handle rollback in system updates
Wants=boot-complete.target
After=boot-complete.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/rollback-manager start
ExecStop=/usr/bin/rollback-manager stop
FailureAction=reboot
StandardError=kmsg

[Install]
WantedBy=multi-user.target
