[Unit]
ConditionPathExists=|!/etc/hostname
Wants=network-pre.target
Before=network-pre.target
After=local-fs.target
After=sys-subsystem-net-devices-eth0.device

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/bin/sethostname.sh"
RemainAfterExit=yes

[Install]
WantedBy=network.target
