[Unit]
Description=Preload default container image
Requires=docker.service
ConditionPathExistsGlob=!/var/lib/docker/containers/*

[Service]
Type=simple
ExecStart=/usr/bin/docker run -d -it --restart=always --privileged -v /var/run/dbus:/var/run/dbus -v /dev:/dev @@REPO@@:@@TAG@@ startx

[Install]
WantedBy=multi-user.target
